<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2018 Tier5 LLC</p>

<!-- scripts -->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/index.js"></script>