<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <div>
        <div class="row justify-content-center align-item-center">
            <div class="loader"></div>
        </div>
        <div class="row justify-content-center">
            <h1>Facebook Page Post Extractor</h1>
            <h2>Extract Every Post Ever from Your Competitors’ Facebook Pages</h2>
            <h3>A free tool with <span class="heart">&hearts;</span> by <a href="https://www.facebook.com/king.jon.vaughn" target="_blank">Jon Vaughn</a></h3>
        </div>
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <form class="form form-horizontal" role="form">
                        <div class="form-group">
                            <input type="text" name="page-access-token" id="page-access-token" class="form-control" placeholder="Page Access Token" autocomplete="off" required>
                            <p>Get your access token <a href="https://developers.facebook.com/tools/explorer" target="_blank">here</a></p>
                        </div>
                        <div class="form-group">
                            <p>A Facebook Page URL generally looks like following</p>
                            <ul>
                                <li><span class="empasize-link">https://www.facebook.com/RandomPage</li>
                                <li><span class="empasize-link">https://m.facebook.com/random.page</li>
                                <li><span class="empasize-link">https://www.facebook.com/Random-Page-24353623</li>
                            </ul>
                        </div>
                        <!-- <div class="form-group">
                            <button class="btn btn-primary" id="add">Add Page</button>
                        </div> -->
                        <div class="form-group">
                            <div><button class="add_field_button btn btn-primary" type="button">Add More Page</button></div></br>
                            <div class="input_fields_wrap">
                                <div><input type="text" name="fb-page-url[]" class="form-control fb-page-url" placeholder="Facebook Page URL" autocomplete="off" required></br></div>
                            </div>
                            <!-- <input type="text" name="fb-page-url" id="fb-page-url" class="form-control" placeholder="Facebook Page URL" autocomplete="off" required> -->
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="get-all-posts">Get All Posts</button>
                            <a class="btn btn-success" id="download-csv" style="display: none">Download CSV</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>